    body {
        background-image: url("../../assets/home/ChosenBackgrounds/LoveCity.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        color: white;
    }

.centereddiv {
    display: flex;
    justify-content: center;
}

.content {
    max-width: 917px;
    padding: 2rem;
    margin: 0 auto;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 0px 2rem;
    margin: 0px 0px 0.5rem 0px
}

.navbar {
    display: flex;
    justify-content: left;
    z-index: 10;
}

.homecrop {
    position: relative;
    width: 917px;
    height: 976px;
    overflow: hidden;
    aspect-ratio: 902 / 976;
}

.randomtext {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 917px;
}

.randomtext a {
    color: white;
}

.ui {
    position: relative;
    /* background-color: rgba(255,0,0,0.25);
    border: 1px solid red; */
    margin-bottom: 0.4%;
}

.characterName{
    position: absolute;
    display: block;
    /* background-color: rgba(255,0,0,0.25);
    border: 1px solid red; */
    display: flex;
    justify-content: left; /*could be center, we'll see we'll see*/
    width: 69%; /* not a joke actually the best measurement i found */
    top: -1.5%;
    left: 1.7%
}

.scrollableContent {
    position: absolute;
    display:block;
    background-color: rgba(93, 0, 255, 0.25);
    border: 1px solid blue;
    width: 69%;
    min-width: 622.38px;
    height:91.3%;
    top: 5.3%;
    overflow: scroll;
    padding-left: 3%;
    padding-top: 3%;
}

.topRow {
    display: flex;
}

.boxOne {
    display: flex;
    flex-direction: column;
    background-color: rgba(93, 0, 255, 0.25);
    border: 1px solid blue;
    Width: 60%;
}

.characterTitle {
    font-family: "Verdana";
    color: "#ae008c"
}

.caroussel {
    width: 40%;
    margin-right: 3%;
    background-color: rgba(255, 0, 0, 0.25);
    border: 1px solid red;
    display: flex;
    justify-content: space-around; 
    /*as long as everything that's part of the caroussel stays inside of a single div, this will make it so it is 
    centered if the topRow box stretches due to too much content inside of boxOne (or at least that's the thought)*/
}

.imageTitle {
    position: absolute;
    padding: 0;
    top: 0.75%;
    width: 37%;
    text-align: center;
}