.ui {
    position: relative;
    width: 100%;
}

.ui img {
    display: block;
    width: 100%;
}

.uiOverlay {
    /* background-color: blue; */
    position: absolute;
    inset: 5.1% 0 3.3% 0;
    width: 72.1%;
    box-sizing: border-box;
    overflow-y: auto;
    margin-bottom: 6.1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8rem 2rem 0 2rem
}

.topRow{
    display: flex;
    text-align: justify;
}
.topRow p{
    margin-top: 0;
    margin-right: 1rem;
}

h2 {
    margin-top: 0;
    margin-bottom: 0.7rem;
    font-size: 2rem;
}

#bookCover{
    border: solid 0.1rem var(--theme-accent);
    height: 21.875rem;
}

h3 {
    margin-top: 1.5rem;
    margin-bottom: 0.4rem;
    font-size: 2rem;
}

hr {
    margin-top: 0;
    width: 100%;
}

.contentsColumn {
    width: 100%
}

.chapterLink{
    text-decoration: underline;
    color: white;
    transition: color 0.2s;
    font-size: 1.2rem;
}

.chapterLink:hover{
    color: var(--theme-accent)
}