.uiNoSideBar {
    position: relative;
    /* background-color: rgba(128, 255, 0, 0.484); */
}

.uiNoSideBar img {
    display: block;
    width: 100%;
}

.uiOverlay {
    /* background-color: rgba(137, 43, 226, 0.355); */
    position: absolute;
    inset: 5.1% 0 3.3% 0;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    margin-bottom: 6.1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chapterContent {
    width: 90%;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    text-align: center;
}

#chapterTitle {
    margin: 2.5rem 0 0 0;
    font-size: 3rem;
    font-weight: bold;
}

#chapterNumber {
    margin: 0.5rem 0 1rem 0;
    font-size: 1.5rem;
    font-weight: lighter;
}

hr {
    width: 100%;
    color: white;
    margin-bottom: 2rem;
}

#chapterText {
    max-width: 100%;
    box-sizing: border-box;
    flex: 1;
    font-size: large;
    text-align: justify;
    overflow-wrap: anywhere;
}

#chapterText p,
#chapterText h1,
#chapterText h2,
#chapterText h3,
#chapterText ul,
#chapterText ol {
    margin-left: 0;
    margin-right: 0;
}

#chapterNav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: sticky;
    bottom: 0;
    margin-top: 1rem;
    padding: 0.5rem 1rem 2rem 1rem;
}

#chapterNav a {
    background-color: var(--theme-accent);
    color: white;
    border: solid 0.2rem white;
    padding: 1rem 1.3rem;
    text-decoration: none;
    font-weight: bold;
}