    h2 {
        margin-top: 8%;
    }

    .centereddiv {
        display: flex;
        justify-content: center;
    }

    .homecrop {
        position: relative;
        width: 917px;
        height: 976px;
        overflow: hidden;
        aspect-ratio: 902 / 976;
    }

    .randomtext a {
        color: white;
    }

    .ui {
        position: relative;
        /* background-color: rgba(255,0,0,0.25);
    border: 1px solid red; */
        margin-bottom: 0.6%;
    }

    .characterName {
        position: absolute;
        display: block;
        /* background-color: rgba(255,0,0,0.25);
    border: 1px solid red; */
        display: flex;
        justify-content: left;
        /*could be center, we'll see we'll see*/
        width: 69%;
        /* not a joke actually the best measurement i found */
        top: -1.5%;
        left: 1.7%
    }

    .scrollableContent {
        position: absolute;
        display: block;
        /* background-color: rgba(93, 0, 255, 0.25);
        border: 1px solid blue; */
        width: 69%;
        min-width: 622.38px;
        height: 91.3%;
        top: 5.3%;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-left: 2%;
        padding-right: 1.4%;
        padding-top: 1%;
        padding-bottom: 2.2%;
    }

    .topRow {
        display: flex;
        align-items: center;
        /* background-color: rgba(93, 0, 255, 0.25);
        border: 1px solid blue; */
    }

    .boxOne {
        text-align: justify;
        display: flex;
        flex-direction: column;
        /* background-color: rgba(93, 0, 255, 0.25);
        border: 1px solid blue; */
        Width: 58%;
        padding-right: 2%;
    }

    .characterTitle {
        font-family: "Verdana";
        color: var(--theme-accent);
    }

    .carousel {
        width: 40%;
        margin-right: 3%;
        height: 350px;
        /* background-color: rgba(255, 0, 0, 0.25);
        border: 1px solid red; */
        display: flex;
        justify-content: space-around;
        /*as long as everything that's part of the carousel stays inside of a single div, this will make it so it is 
    centered if the topRow box stretches due to too much content inside of boxOne (or at least that's the thought)*/
        overflow: hidden;
        position: relative;
        border-style: solid;
        border-width: 0.0625rem;
        border-color: var(--theme-accent)
    }

    .imageTitle {
        opacity: 0;
        position: absolute;
        top: 0.75%;
        width: 100%;
        text-align: center;
        background: linear-gradient(to bottom,
                rgba(0, 0, 0, 1),
                rgba(0, 0, 0, 0));
        margin-top: -0.2rem;
        padding: 0.5rem 0;
    }

    .carouselTrack {
        display: flex;
        height: 100%;
        transition: transform 0.4s ease;
    }

    .carousel:hover .carouselButton,
    .carousel:hover .imageTitle {
        opacity: 1;
    }

    .carouselButton, .imageTitle {
        opacity: 0;
        transition: opacity 0.25s ease;
    }

    .carouselTrack img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        flex-shrink: 0;
    }

    .slide {
        position: relative;
        width: 100%;
        height: 100%;
        flex-shrink: 0;
    }

    .carouselButton {
        opacity: 0;
        position: absolute;
        top: 50%;
        height: 20%;
        width: 1.4rem;
        transform: translateY(-50%);
        z-index: 10;

        background: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 0.5rem 0, 75rem;
        cursor: pointer
    }

    .carouselButton.prev {
        left: 0.5rem;
    }

    .carouselButton.next {
        right: 0.5rem;
    }

    .boxTwo {
        text-align: justify;
        padding-right: 1rem;
    }