    h2 {
        margin-top: 8%;
    }

    .centereddiv {
        display: flex;
        justify-content: center;
    }

    .ui {
        position: relative;
        /* background-color: rgba(255,0,0,0.25);
    border: 1px solid red; */
        margin-bottom: 0.5%;
    }

    .uiContent {
        position: absolute;
        display: block;
        background-color: rgba(93, 0, 255, 0.25);
        border: 1px solid blue;
        width: 68.5%;
        min-width: 622.38px;
        height: 91.3%;
        top: 5.3%;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-left: 2%;
        padding-right: 1.4%;
        padding-top: 1%;
        padding-bottom: 2.2%;
    }

    .article {
        position: relative;
        margin-bottom: 13rem;
    }

    .notifier {
        position: absolute;
        left: 4.313rem;
    }

    .thumbnail {
        position: absolute;
        width: 110px;
        height: 110px;
        left: 5.1rem;
        top: 3rem;  
        border: 1px solid var(--theme-accent)
    }

    .articleTitle {
        /* background-color: rgba(128, 0, 128, 0.403); */
        position: absolute;
        width: 381px;
        left: 190px;
        top: -0.5rem;
        text-align: right;
        white-space: nowrap;
    }

    .articleBody { 
        /* background-color: rgba(137, 43, 226, 0.42);  */
        position: absolute;
        top: 4rem;
        left: 12.575rem;
        width: 380px;
        font-size: small;
        text-align: justify;
    }