body {
    background-image: url("../../assets/home/ChosenBackgrounds/LoveCity.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.centereddiv {
    display: flex;
    justify-content: center;
}

.content {
    max-width: 917px;
    padding: 2rem;
    margin: 0 auto;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    justify-content: left;
}

.homecrop {
    position: relative;
    width: 917px;
    height: 976px;
    overflow: hidden;
    aspect-ratio: 902 / 976;
}

.randomtext {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 917px;
    margin: 0 auto;
}

.randomtext a {
    color: white;
}

.notifier1 {
    position: absolute;
    left: 6.65%;
    top: 9.50%;
    width: 57.98%;
}

.notifier2 {
    position: absolute;
    left: 6.65%;
    top: 32.48%;
    width: 57.98%;
}

.homeui {
    margin-top: -41px;
    width: 100%;
    display: block;
}