body {
    background-image: url("../../assets/home/ChosenBackgrounds/LoveCity.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.centereddiv {
    display: flex;
    justify-content: center;
}

.content {
    max-width: 917px;
    padding: 2rem;
    margin: 0 auto;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 0px 2rem;
    margin: 0px 0px 0.5rem 0px
}

.navbar {
    display: flex;
    justify-content: left;
}

.homecrop {
    position: relative;
    width: 917px;
    height: 976px;
    overflow: hidden;
    aspect-ratio: 902 / 976;
}

.randomtext {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 917px;
    margin: 0 auto;
}

.randomtext a {
    color: white;
}

.homeui {
    margin-top: -41px;
    width: 100%;
    display: block;
}

.highlightscontent {
    position: absolute;
    display: block;
    /* uncomment what's below to activate the debugging borders */
    /* background-color: rgba(255,0,0,0.25);
    border: 1px solid red; */
    overflow: scroll;
}

.notifier {
    position: relative;
    max-width: 79.1046%;
}

.notifierPicture {
    position: absolute;
    display: block;
    /* background-color: rgba(115, 0, 255, 0.25);
    border: 1px solid blue; */
    top: 26.5%;
    left: 2.581%;
    height: 62.5%;
    width: 20.5%;
}

.notifierPicture img {
    max-width: 100%;
    max-height: 100%;
}